.Cell {
	border: 5px solid goldenrod;
	cursor: pointer;
}

.Cell:nth-child(1),
.Cell:nth-child(2),
.Cell:nth-child(3) {
	border-top: none;
}

.Cell:nth-child(1),
.Cell:nth-child(4),
.Cell:nth-child(7) {
	border-left: none;
}

.Cell:nth-child(3),
.Cell:nth-child(6),
.Cell:nth-child(9) {
	border-right: none;
}

.Cell:nth-child(7),
.Cell:nth-child(8),
.Cell:nth-child(9) {
	border-bottom: none;
}
