$fontFamily: "Josefin Sans", sans-serif;
$crossColor: #ffd900;
$crossColor--hover: #ffe96b;
$circleColor: #fd6814;
$circleColor--hover: #ff8741;
$cellBorder: #05ccab;
$white: rgb(231, 228, 228);
$backgroundColor: #33383f;
